# Python虚拟环境
venv/
env/
.venv/
.env/

# PyCharm配置文件
.idea/
*.iml
*.iws
*.ipr

# 缓存编译文件
__pycache__/
*.pyc
.pytest_cache/
*.tmp
*.temp

# 日志文件
*.log
logs/

# 系统文件
.DS_Store
Thumbs.db

# 驱动文件
chromedriver.exe
geckodriver.exe
*.crx

# Allure报告目录全屏蔽
allure-report/
allure-results/

# reports目录：忽略所有子目录、附件文件，只保留根目录截图
reports/*/
reports/*.json
reports/*.txt
!reports/allure-report-screenshot.png